
/* Selector universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Selector de clase */
.introduccion{
    background-color: #3e5b3696;
    text-align: center;
    padding: 50px 20px;
}

/* selector de id / Boton "Ver Productos" */
#btn {
    display: inline-block;
    background-color: #abd69e96;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

#btn:hover {
    background-color: #20361996;
}


body {
  font-family: 'Poppins', sans-serif;
  background-color: #abd69e96;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.titulo-header {
    color: #20361996;
}

.titulo-construccion {
    color: #fff;
}

h2{
    color :#fff;

}

p {
    font-size: 18px;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f5f5f5;
}

header {
    position: relative;
}

.nav-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo {
    width: 100px;
}

/* Nombre de la tienda */
.brand {
    display: flex;
    align-items: center;
    gap: 10px;
}

.brand-name {
    font-size: 24px;
    font-weight: bold;
    color: #20361996;
}
/* Menú*/
.nav {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav a {
    text-decoration: none;
    color: #abd69e96;
    font-weight: 500;
}

.nav a:hover {
    color: #555;
}

/* Contenedor del formulario */
.formulario {
    background-color: #20361996;
    padding: 20px;
    width: 300px;
    margin: 50px auto; /* lo centra */
    border-radius: 10px;
}

/* Inputs */
.formulario input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

    background-color: #abd69e; /* verde */
    color: #222;               /* color del texto */
}

/* Textarea */
.formulario textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

    background-color: #abd69e;
    color: #222;
}

/* Labels */
.formulario label {
    display: block;
    margin-top: 10px;
    color: #fff;
    font-weight: 500;
}

/* Botón */
.formulario button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;

    background-color: #fff;
    color: #abd69e96;
    font-weight: bold;
    cursor: pointer;
}

/* Hover */
.formulario button:hover {
    background-color: #444;
}

@media (max-width: 768px) {
  .formulario {
    width: 95%;
  }
}

/* ===== MENU RESPONSIVE SIN JS ===== */

.menu-check {
    display: none;
}


.nav a {
    text-decoration: none;
    color: #4a644296;
    font-weight: 700;
}

/* Botón hamburguesa */
.menu-toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.icon-bar {
    width: 28px;
    height: 3px;
    background: #abd69e96;
}

/* MOBILE */
@media (max-width: 768px) {

    .menu-toggle {
        display: flex;
    }

    .nav-container {
        display: none;
        width: 100%;
    }

    .menu-check:checked ~ .nav-container {
        display: block;
    }

    .nav {
        flex-direction: column;
        gap: 15px;
        margin-top: 15px;
    }

    .nav-container {
        position: static;
        transform: none;
    }
}


/* ------------------------------------------- /*
 /* CLASE 5*/

.recursos {
    width: 90%;
    /* ocupa el 90% del ancho disponible */
    max-width: 1100px;
    /* limita el ancho máximo a 1100px */
    min-width: 800px;
    /* limita el ancho mínimo a 800px */
    margin: 20px auto;
    /* centra el contenedor horizontalmente */
    padding: 2rem;
    background-color: #f5f5f5;
    border: 3px solid #4a644296;
    border-radius: 20px;
}

.titulo-recursos {
    color: #4a644296; /* o el color que quieras */
    background: transparent; /* 🔥 clave */
    padding: 0; /* opcional, para evitar efecto caja */
}
.contenido-recursos {
    background-color: #f5f5f5;
    padding: 2rem;
    border-radius: 10px;
}

.texto-recursos {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 2rem;
    color: #555555; /* 👈 color distinto al título */
}

.tarjetas {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.tarjeta {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    /* cada tarjeta ocupa el 30% del contenedor */
    min-width: 250px;
    margin: 1%;
    padding: 1.5rem;
    background-color: #4a644296;
    border: 2px solid #4a644296;
    overflow: hidden;
    transition: transform 0.3s;
    border-radius: 20px;
}
.tarjeta:hover {
    transform: translateY(-10px);
}

/* LO NUEVO EN TARJETA*/
.tarjeta img {
    width: 100%; /* VA 100% */
    max-width: 200px;  /* límite para que no sea gigante */
    height: auto;         /* mantiene proporción */
    display: block;
    margin: 0 auto 10px;  /* centra la imagen */
    border-radius: 10px;
    margin-bottom: 10px;
}

.descripcion {
    font-size: 14px;
    color: #333;
}

/* Footer (precio + botón) */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.precio {
    background-color: white;
    padding: 5px 12px;
    border-radius: 20px;
    font-weight: bold;
    color: #2d6a4f;
}

button {
    background-color: #536d4a;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

/* selector de espacio*/
/* TÍTULO */
.tarjeta h3 {
    font-size: 1.4rem; /* el título crece según la medida raíz */
    margin: 0 auto 10px;
    color: white;
    text-align: center; /* esto lo centra */
}

/* TODOS los párrafos dentro de la tarjeta */
.tarjeta p {
    font-size: 1rem;
    line-height: 1.5em;
}

/* SOLO la descripción */
.tarjeta .descripcion {
    color: #ddd;
    margin-bottom: 10px;
}

/* selector de hijo directo -> .tarjeta > span 
 no funcionaría porque el span está dentro del p, no directamente dentro de .tarjeta*/
.tarjeta span {
    font-weight: bold;
    color: #4a644296;
}

.icono {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #ff9800;
}

/* Tarjeta 1: medidas absolutas */
.tarjeta-uno {
    background-color: #abd69e96;
    /*#eaf7ff;*/
}

/* Tarjeta 2: medidas relativas*/
.tarjeta-dos {
    background-color:  #abd69e96  
    
}

.tarjeta-dos p {
    font-size: 1.1em;
}

/* Tarjeta 3: overflow */
.tarjeta-tres {
    background-color:  #abd69e96
}

.texto-largo {
    height: 100px;
    padding-right: 10px;
    overflow: auto;
    /* scroll , visible ,hidden,auto   */
}

/* Ejemplo de unidades flexibles */
.recursos h2 {
    font-size: 4vw;
    
}

@media (max-width: 768px) {
    .recursos h2 {
        font-size: 2rem;
    }

    .tarjeta {
        display: block;
        width: 90%;
        margin: 15px auto;
        height: auto;
    }
}
/* ------------------------------------------- */
/* HERO HOME */
.hero {
  width: 90%;
  max-width: 1200px;
  height: 500px;
  margin: 40px auto;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  background-image: url("../img/perchero.jpg");
  background-size: cover;
  background-position: center 10%; /* esto es para bajar y subir la imagen dentro del cuadro*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4); /* 👈 cambiá el 0.4 para más o menos oscuridad */
  z-index: 0;
}

/* contenido encima */
.hero-contenido {
  position: relative;
  color: white;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
}

.hero h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 14px;
  margin-bottom: 15px;
}

/* botones */
.botones {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn {
  background: white;
  color: black;
  padding: 8px 15px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 13px;
}

.btn-secundario {
  background: transparent;
  border: 1px solid white;
  color: white;
}
/* ------------------------------------------- */



main {
  flex: 1; /* 👈 esto empuja el footer hacia abajo */
}

/* FOOTER */
footer {
  background: #4a644296;
  color: white;
  text-align: center;
  padding: 15px;
}

footer p {
  margin: 0;
  font-size: 14px;
}

.footer-tienda {
  background: #abd69e96;  
  color: white;
  text-align: center;
  padding: 15px;
}

/* RESEÑAS */
.resenas {
  width: 90%;
  max-width: 1200px;
  margin: 40px auto;
  text-align: center;
}

.resenas h2 {
  margin-bottom: 30px;
  color: #fff;
}

.grid-resenas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.resena {
  background-color: #4a644296;
  border-radius: 15px;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: transform 0.3s;
}

.resena:hover {
  transform: translateY(-5px);
}

.resena-avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #abd69e;
  color: #203619;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.estrellas {
  color: #f4c542;
  font-size: 16px;
  display: flex;
  gap: 4px;
}

.resena p {
  font-size: 14px;
  color: #ddd;
  font-style: italic;
  line-height: 1.6;
}

.resena-nombre {
  font-weight: 700;
  color: #abd69e;
  font-size: 14px;
}

.resena-producto {
  font-size: 12px;
  color: #aaa;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .grid-resenas {
    grid-template-columns: 1fr;
  }
}